@using QRTracker.service

<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>QR Tracker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="LittlesparkVT">

    <!-- Le styles -->
    <link href="../../Content/animate.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/responsive.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/custom.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/jquery.dataTables.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/demo_table.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/jquery-ui-1.8.21.custom.css" rel="stylesheet" type="text/css" />
    

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="">
    <link rel="apple-touch-icon-precomposed" href="">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600' rel='stylesheet' type='text/css'>
  </head>

  <body>

<div class="navbar  animated fadeIn">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="index.htm"><img src="http://missiongeek.com/storage/post-images/2011/06/Super%20Mario%20Bros.3%20Banner.png?__SQUARESPACE_CACHEVERSION=1309182264481" alt="your slogan here"></a>
          <div class="nav-collapse in" style="height:auto;">
              <ul class="nav">
                  <li>@Html.ActionLink("Scan","Index","Home")</li>
                  <li>@Html.ActionLink("About","Index","About")</li>
                  @{
                      using (@QRTracker.service.UserService service = new UserService())
                      {
                          var user = service.GetUserWithDomain(User.Identity.Name);
                          if (user.isManager)
                          {
                               <li>@Html.ActionLink("Users", "Index", "Users")</li>
                          }

                      }
                      
                  }
              </ul>
              
              <div  style = "color: white" class="navbar-search pull-right">Последний импорт: <div id="lastImp" class="pull">@Html.Action("GetLastSuccess", "Details")</div></div>
 
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

      <div class="container">
          <div class="hero-unit">
              @RenderBody() 
          </div>
          </div>
<!-- FOOTER -->
      <footer>
        <div class="container">
        <div class="row">
          <div class="span3">
            <div id="jstwitter">
              <h3>Twitter Feed</h3> 
            </div>
          </div>
 
          <div class="span3">
            <h3>Newsletter</h3>
            <p>Subscribe to our newsletter and get the latest news!</p>
            <form action="mail.php" id="subscribe-form" method="post">
              <input type="text" name="email" id="email" placeholder="Your Email Address">
              <button type="submit" class="btn btn-primary">Sign Up</button>
            </form>
          </div>
        </div>
      </div>
      </footer>


<!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
      
    <script src="../../Scripts/jquery-1.7.2.js" type="text/javascript"></script>
    <script src="../../Scripts/bootstrap-transition.js"></script>
    <script src="../../Scripts/bootstrap-alert.js"></script>
    <script src="../../Scripts/bootstrap-modal.js"></script>
    <script src="../../Scripts/bootstrap-dropdown.js"></script>
    <script src="../../Scripts/bootstrap-scrollspy.js"></script>
    <script src="../../Scripts/bootstrap-tab.js"></script>
    <script src="../../Scripts/bootstrap-tooltip.js"></script>
  @*  <script src="../../Scripts/bootstrap-popover.js"></script>*@
    <script src="../../Scripts/bootstrap-button.js"></script>
    <script src="../../Scripts/bootstrap-collapse.js"></script>
    <script src="../../Scripts/bootstrap-carousel.js"></script>
    <script src="../../Scripts/bootstrap-typeahead.js"></script>
    @*<script src="../../Scripts/anchor.js"></script>*@
      <script src="../../Scripts/jquery.unobtrusive-ajax.js" type="text/javascript"></script>
      <script src="../../Scripts/jquery-1.7.2.js" type="text/javascript"></script>
    <script src="../../Scripts/webcam.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery.dataTables.js" type="text/javascript"></script>
    
  <script type="text/javascript">
      $.fn.dataTableExt.oApi.fnReloadAjax = function (oSettings, sNewSource, fnCallback, bStandingRedraw) {
          if (typeof sNewSource != 'undefined' && sNewSource != null) {
              oSettings.sAjaxSource = sNewSource;
          }
          this.oApi._fnProcessingDisplay(oSettings, true);
          var that = this;
          var iStart = oSettings._iDisplayStart;
          var aData = [];

          this.oApi._fnServerParams(oSettings, aData);

          oSettings.fnServerData(oSettings.sAjaxSource, aData, function (json) {
              /* Clear the old information from the table */
              that.oApi._fnClearTable(oSettings);

              /* Got the data - add it to the table */
              var aData = (oSettings.sAjaxDataProp !== "") ?
            that.oApi._fnGetObjectDataFn(oSettings.sAjaxDataProp)(json) : json;

              for (var i = 0; i < aData.length; i++) {
                  that.oApi._fnAddData(oSettings, aData[i]);
              }

              oSettings.aiDisplay = oSettings.aiDisplayMaster.slice();
              that.fnDraw();

              if (typeof bStandingRedraw != 'undefined' && bStandingRedraw === true) {
                  oSettings._iDisplayStart = iStart;
                  that.fnDraw(false);
              }

              that.oApi._fnProcessingDisplay(oSettings, false);

              /* Callback user function - for event handlers etc */
              if (typeof fnCallback == 'function' && fnCallback != null) {
                  fnCallback(oSettings);
              }
          }, oSettings);
      };
  </script>
  </body></html>