<link href="http://code.jquery.com/ui/1.8.21/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
@model QRTracker.Models.RoleModel


<div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix">
<h3>@Model.User.name</h3></div>
<div class="wellMarg">
@using (Ajax.BeginForm("GetRoles", "Users", new AjaxOptions(){UpdateTargetId = "upload"}))
{
   @Html.Hidden("userId",Model.User.id) 
    <table id="roles" class="table table-striped">
        <thead>
            <tr><td></td><td></td></tr>
            <tr><td>Manager: @Html.CheckBox("isManager", Model.User.isManager)</td> 
                <td>Viewer: @Html.CheckBox("isViewer", Model.User.isViewer)</td> </tr>
               <tr><td></td><td></td></tr>
            </thead>
        <tbody>
            
            @foreach (var roleModel in Model.roleListModel)
            {

                <tr>
                    <td><div>@roleModel.name</div></td>
                    <td>@Html.CheckBox(roleModel.id.ToString(), roleModel.hasRole)</td>
                </tr>
            }
        </tbody>
    </table>
    
    <button type="submit" class="btn btn-primary pull-right" style="margin: 45px">Save</button>
   

}
 @if (Model.ResultText != null)
    {
        if (!string.IsNullOrEmpty(Model.ResultText.text))
        {
            if (Model.ResultText.success)
            {

                <div id = "result" class="alert alert-success">@Model.ResultText.text </div>
               

            }
            else
            {

                <div id = "result" class="alert alert-error">@Model.ResultText.text</div>
                
            }
        }
    }
</div>
<script>
  $("#result").delay(5000).fadeToggle();
</script>